<p>operas-bas works!</p>

<form action="">
    <div class="col-6">
        <div class="mb-3">

            <div class="form-group pt4">
                <label for="form-label">Numero 1</label>

                <input type="" class="form-control" [(ngModel)]="num1" name="num1"
                id="exampleInputEmail1" aria-describedby="=emailHelp" placeholder="Enter numero 1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Numero 2</label>

                <input type="" class="form-control" [(ngModel)]="num2" name="num2"
                id="exampleInputPassword1" placeholder="Enter numero 2">
            </div>
            <div class="form-check">
                <hr>
                <input type="radio" class="form-check-input" name="op" [(ngModel)]="op" value="sumar">
                <label for="">SUMAR</label>
                <hr>
                <input type="radio" class="form-check-input" name="op" [(ngModel)]="op" value="restar">
                <label for="">RESTAR</label>
                <hr>
                <input type="radio" class="form-check-input" name="op" [(ngModel)]="op" value="mult">
                <label for="">MULTIPLICAR</label>
                <hr>
                <input type="radio" class="form-check-input" name="op" [(ngModel)]="op" value="div">
                <label for="">DIVIDIR</label>
            </div>
        </div>
        
        <div class="col-6">
            <h1>Tu resultado es: {{resultado}}</h1>
        </div>

    </div>
</form>
